body{
    font-family: Arial, Helvetica, sans-serif;
}
/* BANNER -------------------------------------------------*/
#img-intro {
    background-color: #332264;
    display: flex;
    margin: 30px 50px;
    color: #fff;
    border-radius: 20px;
    height: 400px;
    overflow: hidden;
    outline: 3px solid #F5C01A;
}

#img-intro h3,
#img-intro h1 {
    margin: 0;
}

#img-intro h1{
    font-size: xxx-large;
}

#img-intro p {
    font-size: large;
}

#img-intro article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    flex: 1;
    width: auto;         /* Corrige o width: 70px, que está muito pequeno */
}


#img-intro img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    /* flex-shrink: 0; */
}

/* ------------------------------------------------------*/

/* Pessoas------------------------------------------------------*/
#select-opc{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#select-opc h1 {
    position: relative; /* Necessário para posicionar o ::after corretamente */
    display: inline-block;
    color: #332264;
}

#select-opc h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #332264;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

#select-opc h1:hover::after {
    transform: scaleX(1); /* Agora sim: altera o ::after no hover do h1 */
}

