:root{
 --RoxoAzulado: #332264;
 --RoxoEscuro: #1F153D;
 --AmareloEscuro: #FDBC2F;
 --AzulClaro: #332264;
 --AzulEscuro: #1F2733;
 --PretoEscuro: #171717;
--gradiente3: linear-gradient(
  45deg,
  #FFFFFF 0%,
  #FFFFFF 65%,
  var(--RoxoAzulado) 65%,
  var(--RoxoAzulado) 68%,
  #FFFFFF 68%,
  #FFFFFF 71%,
  var(--RoxoAzulado) 71%,
  var(--RoxoAzulado) 77%,
  #FFFFFF 77%,
  #FFFFFF 80%,
  var(--RoxoAzulado) 80%,
  var(--RoxoAzulado) 85%,
  var(--RoxoAzulado) 100%
);

--gradiente2: linear-gradient(
  45deg,
  #FFFFFF 0%,
  #FFFFFF 65%,
  var(--RoxoAzulado) 65%,
  var(--RoxoAzulado) 68%,
  #FFFFFF 68%,
  #FFFFFF 71%,
  var(--RoxoAzulado) 71%,
  var(--RoxoAzulado) 77%,
  #FFFFFF 77%,
  #FFFFFF 80%,
  var(--RoxoAzulado) 80%,
  var(--RoxoAzulado) 85%,
  var(--RoxoAzulado) 100%
);

--gradiente1: linear-gradient(
  45deg,
  #FFFFFF 0%,
  #FFFFFF 55%,
  var(--RoxoAzulado) 55%,
  var(--RoxoAzulado) 58%,
  #FFFFFF 58%,
  #FFFFFF 61%,
  var(--RoxoAzulado) 61%,
  var(--RoxoAzulado) 67%,
  #FFFFFF 67%,
  #FFFFFF 70%,
  var(--RoxoAzulado) 70%,
  var(--RoxoAzulado) 75%,
  var(--RoxoAzulado) 100%
);

}
